.login-signup-panel-body {
  padding-top: 30px;
}

.user-profile {
  position: absolute;
  top: 5px;
  right: 5px;
  /*cursor: pointer;*/
}

.username {
  display: inline-block;
  padding: 10px;
  top: 0px;
  right: 0px;
}

.list-option {
  cursor: pointer;
  padding-left: 10px;
}

.list-option:hover {
  background-color: #d9d9d9;
}