.login-signup-panel-body {
  padding-top: 30px;
}

.user-profile {
  position: absolute;
  top: 5px;
  right: 5px;
  /*cursor: pointer;*/
}

/*.rbc-event {
  background-color: black;
}*/

/*.navbar-default {
  background-color: yellow;
}*/

.username {
  display: inline-block;
  padding: 10px;
  top: 0px;
  right: 0px;
}

.list-option {
  cursor: pointer;
  padding-left: 10px;
}

.list-option:hover {
  background-color: #d9d9d9;
}

.weather-bar {
  border-style: solid;
  overflow: scroll;
  height: 8.4em;
}

.weather-info {
  padding-left: 0.3em;
  border-left-style: solid;
  border-bottom-style: solid
}

textarea {
  resize: none;
}

.rbc-time-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
    border-top: 2px solid #DDD;
    /* overflow-y: hidden !important; */
}

.color-blue {
  position: relative;
  position:
  width: 5px;
  height: 5px;
  color: blue;
}

.color-lightgreen {
  position: relative;
  width: 5px;
  height: 5px;
  color: lightgreen;
}

.color-red {
  position: relative;
  width: 5px;
  height: 5px;
  color: red;
}

.color-yellow {
  position: relative;
  width: 5px;
  height: 5px;
  color: yellow;
}